@use 'mixins';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 1rem 1rem;
    box-shadow: 0 5px 20px colors.$darker-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-weight: 500;
        font-size: clamp(1.55rem, 2vw, 1.8rem);
        text-align: center;
    }
}

.back-to-home {
    text-decoration: none;
    padding: .4rem 1rem;
    box-shadow: 0 0 20px darken(colors.$darker-white, 10);
    border-radius: .5rem;
    color: colors.$bg-dark;
    font-size: 1.2rem;
}

.navbar__logo {
    max-width: 140px;
}

.app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-dashboard {
    width: min(90%, 1550px);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    &__header {
        width: min(100%, 500px);
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 10px 20px colors.$darker-white,
                inset 0 0 3px 3px colors.$darker-white; 
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        gap: 10px;
    }
    &__info {
        font-size: clamp(1.3rem, 1.5vw, 1.6rem);
        white-space: nowrap;
        &_correct {
            color: colors.$lime-green
        }
        &_incorrect {
            color: colors.$darken-red;
        }
        &_points {
            color: colors.$lighten-pink;
        }
    }
}

.game-interface {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.game-dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__submit-answer {
        background-color: transparent;
        border: none;
        font-family: Poppins, sans-serif;
        font-size: 20px;
        box-shadow: 0 0 10px colors.$darker-white;
        padding: .3rem .8rem;
        border-radius: .3rem;
        cursor: pointer;
        transition: 200ms ease;
        &:hover {
            background-color: colors.$darker-white;
            box-shadow: 0 0 10px lighten(colors.$light-grey, 50);
        }
        &[disabled] {
            cursor: not-allowed;
            color: #000
        }
    }
    &__randomize-colors {
        font-family: 'Poppins', sans-serif;
        border: none;
        background-color: colors.$bg-dark;
        color: colors.$color-header-primary;
        padding: .7rem 1.5rem;
        border-radius: .5rem;
        font-weight: 500;
        font-size: clamp(1.2rem, 1.5vw, 1.3rem);
        cursor: pointer;
        transition: 250ms ease;
        &:hover {
            box-shadow: inset 0 0 5px darken(colors.$color-header-primary, 10);
            transform: scale(.99);
        }
    }
    &__color-name {
        text-align: center;
    }
    &__intro {
        margin-top: 1.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: max(5%, 20px);
        flex-wrap: wrap;
        position: relative;
        min-height: 70px;
    }
    &__color-elements {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 1.4rem;
    }
    @media (max-width: 670px) {
        &__color-elements {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
}

.drawn-color-pop-up {
    position: fixed;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    padding: 1rem 2rem;
    width: min(90%, 480px);
    z-index: 1;
    border-radius: .5rem;
    color: #fff;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: top 200ms ease;
    &.active {
        top: 20px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: rgb(255, 153, 0);
        transition: width 4s linear;
    }
    &.active::before {
        width: 0;
    }
}

.color-choice {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 100ms ease;
    border-radius: .5rem;
    border: 3px solid colors.$light-grey;
    animation: originate 1s ease var(--originate-delay) forwards;
    opacity: 0;
    position: relative;
    &[disabled] {
        filter: brightness(.60);
        pointer-events: none;
        background-image: url('../images/crossed-out-map.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__checkbox {
        -webkit-appearance: none;
        position: absolute;
        top: .4rem;
        left: .4rem;
        height: 28px;
        width: 28px;
        border-radius: .2rem;
        background-color: colors.$light-grey;
        border: 1px solid colors.$color-header-primary;
        cursor: pointer;
        &:checked {
            background-image: url('../images/check-mark.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    @keyframes originate {
        to {
            transform: scale(.95);
            opacity: 1;
        }
    }
    &__caption {
        background-color: colors.$solid-dark;
        border: 2px solid colors.$color-header-primary;
        color: colors.$color-header-primary;
        font-weight: 500;
        font-size: 20px;
        width: max-content;
        padding: .3rem .7rem;
        user-select: none;
        transition: transform 1s ease;
        cursor: pointer;
        border-radius: .5rem;
        &.revealed {
            transform: rotate3d(0, 1, 0, 360deg);
        }
    }
    
    &:hover {
        filter: brightness(.90)
    }
}

